body
{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  Font size: 15px
  margin: 30px;
  background-color: hsl(233, 47%, 7%);
}


h1 span{color:hsl(277, 64%, 61%)}
h1{font-family: 'Lexend Deca', sans-serif; color: hsl(0, 0%, 100%);} 
p{ font-family: 'Big Shoulders', sans-serif; color: hsla(0, 0%, 100%, 0.75);}
h2{font-family: 'Lexend Deca', sans-serif; text-align: center; color:  hsl(0, 0%, 100%);} 


img
{ 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  mix-blend-mode: multiply;
  float: right;
  height: 50vh;
}

figure
{
  background-color: hsl(277, 64%, 61%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  float: right;
  height: 50vh;
}

aside
{
  padding: 40px;
  width: 50%;
  border: 0px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(244, 37%, 16%);
}

@media screen and (max-width:600px) 
{
  
}